.template {
    font-family: sans-serif;
    font-size: 24px;
}

.a4 {
    width: 210mm;
}

.one, .two, .three {
    padding: 20px;
}

.one {
    background: green;
    font-size: 12px;
}

.two {
    background: orange;
    font-size: 18px;
}

.three {
    background: blue;
    font-size: 36px;
}