.preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.panel {
    width: 100%;
    background: silver;
    text-align: right;
    padding: 10px;
}

textarea {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    resize: none;
    height: 297mm;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content > section {
    width: 50%;
}

.content > .convert {
    border: 1px dashed #000;
    width: 210mm;
}
